$active-state:  hsl(176, 72%, 28%);
$default-state:  hsl(176, 50%, 47%);
$Black: hsl(0 0% 0%);
$Dark-gray: hsl(0, 0%, 48%);
$font-size: 16px;
$desktop: 1440px;
$tablet: 769px;
$mobile: 450px;
$font-fam: 'Commissioner', sans-serif;

*{
    margin: 0;
    padding: 0;
    font-family: $font-fam;
    font-size: $font-size;
}
.bold{
    font-weight: bold;
}
.split{
    display: flex;
}
.card-border-green{
    border: 2px solid $default-state ;
    border-radius: 5px;
}
.card-border-grey{
    border: 2px solid #dee2e6 ;
    border-radius: 5px;
}
// .card-radius{
//     border-radius: 15px;
// }
body{
    background-color: #f1f1f1;
}
// Navbar
.image-div{
    background-image: url(images/image-hero-desktop.jpg);
    max-width: 100%;
    height: 25rem;
    nav{
        height: 120px;
        line-height: 120px;
        padding: 0 10rem;
        .bars{
            display: none;
        }
    }
    .logo{
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }
    .link-pages a{
        font-size: .89rem;
        text-decoration: none;
        margin: 0 .8rem;
    }
    
}

// body
main{
    width: 100%;
    .card-custom{
        max-width: 700px;
        margin: -5rem auto 0 auto;
        border-radius: .5rem;
        .svg{
            margin: -1.5rem auto 0 auto;
        }
        .body-custom {
           
            p:nth-child(1){
                font-size: 1.5rem;
                font-weight: bold;
            }
            p:nth-child(2){
                font-size: .95rem;
                margin-top: -.5rem;
            }
            section{
                position: relative;

            }
            section button{
                border: none;
                outline: none;
                border-radius: 50px;
                width: 11rem;
                height: 3.6rem;
            }
            
            section .btn1{
                background-color: $default-state;
                font-size: .85rem;
            }
            section .btn1:hover{
                background-color: $active-state;
            }
            section .btn-wrapper{
                position: relative;
                
            }
            section .btn-wrapper .btn2{
                background-color: #f1f1f1;
                font-weight: bold;
                padding: 0 1.5rem 0 4.5rem;
            }
            .svg1{
                position: absolute;
                left: 0;    
            }
        } 
    }

    // card 2
    .card-custom1, .card-custom2{
        max-width: 700px;
        border-radius: .5rem;
        margin: 0 auto;
        .body-custom1 .stats section{
            border-right: 2px solid #f2f2f2;
            padding: 0 0 0 2rem;
        }
        .body-custom1 .stats .last-section{
            border: none;
        }
        .body-custom1 .bar{
            border-radius: 7px;
            .bg{
                background-color: $default-state;
                border-radius: 7px;
            }
        }
    }

    // card 3
    .card-custom3 h4{
        font-weight: bold;
    }
    .card-custom3 .bamboo{
        width: 13rem;
    }
    .card-custom3 .pledge{
        color: $default-state;
    }
    .card-custom3 h1{
        width: 12rem;
    }
    .card-custom3 button{
        border: none;
        outline: none;
        border-radius: 50px;
        width: 10rem;
        height: 3.2rem;
        background-color: $default-state;
        color: #fff;
        font-size: .9rem;
    }

    .modal-custom {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 2rem; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .modal-body-custom {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 1rem ;
        border: none;
        outline: none;
        width: 92%;
        border-radius: .35rem;
        // box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
        h5{
            font-size: 1.2rem;
            margin-top: .7rem;
        }
        // modal heading
        .heading{
            display: flex;
            justify-content: space-between;
        }
        .close {
            color: darkgray;
            font-size: 1.4rem;
            font-weight: bold;
            margin-top: -.1rem;
            align-self: flex-start;
        }
          
        .close:hover,
        .close:focus {
            color: $active-state;
            text-decoration: none;
            cursor: pointer;
        }
        .heading > p{
            font-size: 1.1rem;
            font-weight: bold;
        }
        // modal content
        .content .no-reward{
            padding: 1rem;
            border-radius: 5px
        }
        .no-reward p, .card-default p{
            margin-top: .7rem;
        }
        .content .container-custom{
            display: block;
            position: relative;
            padding-left: 2rem;
            font-weight: bold;
            background-color: #fff;
            cursor: pointer;
            user-select: none;
        }
        .container-custom:hover{
            color: $default-state;
        }
        .container-custom input{
            position: absolute;
            opacity: 0;
        }
        .no-reward .container-custom .checkmark,.card-default .container-custom .checkmark{
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid gray ;
        }
        .container-custom:hover .checkmark{
            border: 1px solid $default-state;
        }
        .content .container-custom .checkmark:hover{
            border: 1px solid $default-state;
        }
        .checkmark:hover{
            border-color: $default-state ;      
        }
        .container-custom .checkmark:after{
            content: "";
            position: absolute;
            display: none;
           
            
        }
        .checkmark:after{
            top: 9px;
            right: 3px;
            width: 12px;
            height: 12px;
            margin-top: -6px;
            border-radius: 50%;
            
        
        }
        .container-custom > input:checked ~ .checkmark:after{
            background-color: $default-state;
            display: block;
        }
        .content .no-reward{
            width: 100%;
        }

        // bamboo card
        .card-default{
            padding: 1rem;
        }
        .card-default .splitt > span{
            margin-left: 2rem;
            color: $default-state;
        }
        .black-wrapper .pledge-entry, .bamboo-wrapper .pledge-entry{
            padding: 1.5rem;
            border-radius: 0 0 5px 5px;
            border-top: 1px solid #dee2e6;
            margin-top: -.2rem;
        }
        .black-wrapper .pledge-entry input, .bamboo-wrapper .pledge-entry input{
            width: 4.5rem;
            height: 2.5rem;
            border: 1px solid gray;
            outline: none;
            border-radius: 10rem;
            font-weight: bold;
            padding: 0 .9rem;
        }
        .black-wrapper .pledge-entry button, .bamboo-wrapper button{
            background-color: $default-state;
            padding: .5rem .9rem;
            outline: none;
            border: none;
            border-radius: 10rem;
            color: #fff;
        }

        .mahoghany-wrapper{
            opacity: .5;
            cursor: not-allowed;
        }




        // Modal font-size
        .content p{
            font-size: .9rem;
        }
        .content label, .content .splitt > span strong{
            font-size: .95rem;
        }
       
       
        
           
        .container-custom span{
            color: $active-state;
            padding-left: .6rem;
        }
    }

    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:0; opacity:1}
    }
      
    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:0; opacity:1}
    }
      
    /* The Close Button */
   
      
  
}




@media  screen and (max-width: $tablet){
    .image-div nav{
        padding: 0 3rem; 
        .bars{
            display: block;
        }
        .link-pages{
            display: none;
        }
    }
    .stat-sec{   
        border-right: none !important;
    } 
   

}
@media  screen and (max-width: $mobile){
    .image-div nav{
        padding: 0 1rem; 
    }
    // bookmark card
    main .body-custom .btn-wrapper{
        position: relative;
    }
    main .body-custom .btn-wrapper .btn2{
      display: none;
    }
    main .body-custom > section{
        margin: 0 -1rem;
    }
    section .btn-wrapper{
        margin-right: 4rem;
    }
    section .btn-wrapper .svg1{
        position: absolute;
       
    }
    // progress bar card
    main .body-custom1{
        padding-left: 1rem;
        .bar{
            margin: 0 .7rem !important;
        }
        .stats{
            font-size: .9rem;
            text-align: center;
            .stat-sec{   
                border-right: none !important;
            } 
            section{
                padding-left: 0 !important;
            }
        }
       
    }
    
}