* {
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.split {
  display: flex;
}

.card-border-green {
  border: 2px solid #3cb4ac;
  border-radius: 5px;
}

.card-border-grey {
  border: 2px solid #dee2e6;
  border-radius: 5px;
}

body {
  background-color: #f1f1f1;
}

.image-div {
  background-image: url(images/image-hero-desktop.jpg);
  max-width: 100%;
  height: 25rem;
}
.image-div nav {
  height: 120px;
  line-height: 120px;
  padding: 0 10rem;
}
.image-div nav .bars {
  display: none;
}
.image-div .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
.image-div .link-pages a {
  font-size: 0.89rem;
  text-decoration: none;
  margin: 0 0.8rem;
}

main {
  width: 100%;
  /* The Close Button */
}
main .card-custom {
  max-width: 700px;
  margin: -5rem auto 0 auto;
  border-radius: 0.5rem;
}
main .card-custom .svg {
  margin: -1.5rem auto 0 auto;
}
main .card-custom .body-custom p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
main .card-custom .body-custom p:nth-child(2) {
  font-size: 0.95rem;
  margin-top: -0.5rem;
}
main .card-custom .body-custom section {
  position: relative;
}
main .card-custom .body-custom section button {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 11rem;
  height: 3.6rem;
}
main .card-custom .body-custom section .btn1 {
  background-color: #3cb4ac;
  font-size: 0.85rem;
}
main .card-custom .body-custom section .btn1:hover {
  background-color: #147b74;
}
main .card-custom .body-custom section .btn-wrapper {
  position: relative;
}
main .card-custom .body-custom section .btn-wrapper .btn2 {
  background-color: #f1f1f1;
  font-weight: bold;
  padding: 0 1.5rem 0 4.5rem;
}
main .card-custom .body-custom .svg1 {
  position: absolute;
  left: 0;
}
main .card-custom1, main .card-custom2 {
  max-width: 700px;
  border-radius: 0.5rem;
  margin: 0 auto;
}
main .card-custom1 .body-custom1 .stats section, main .card-custom2 .body-custom1 .stats section {
  border-right: 2px solid #f2f2f2;
  padding: 0 0 0 2rem;
}
main .card-custom1 .body-custom1 .stats .last-section, main .card-custom2 .body-custom1 .stats .last-section {
  border: none;
}
main .card-custom1 .body-custom1 .bar, main .card-custom2 .body-custom1 .bar {
  border-radius: 7px;
}
main .card-custom1 .body-custom1 .bar .bg, main .card-custom2 .body-custom1 .bar .bg {
  background-color: #3cb4ac;
  border-radius: 7px;
}
main .card-custom3 h4 {
  font-weight: bold;
}
main .card-custom3 .bamboo {
  width: 13rem;
}
main .card-custom3 .pledge {
  color: #3cb4ac;
}
main .card-custom3 h1 {
  width: 12rem;
}
main .card-custom3 button {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 10rem;
  height: 3.2rem;
  background-color: #3cb4ac;
  color: #fff;
  font-size: 0.9rem;
}
main .modal-custom {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 2rem;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
main .modal-body-custom {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: none;
  outline: none;
  width: 92%;
  border-radius: 0.35rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
main .modal-body-custom h5 {
  font-size: 1.2rem;
  margin-top: 0.7rem;
}
main .modal-body-custom .heading {
  display: flex;
  justify-content: space-between;
}
main .modal-body-custom .close {
  color: darkgray;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: -0.1rem;
  align-self: flex-start;
}
main .modal-body-custom .close:hover,
main .modal-body-custom .close:focus {
  color: #147b74;
  text-decoration: none;
  cursor: pointer;
}
main .modal-body-custom .heading > p {
  font-size: 1.1rem;
  font-weight: bold;
}
main .modal-body-custom .content .no-reward {
  padding: 1rem;
  border-radius: 5px;
}
main .modal-body-custom .no-reward p, main .modal-body-custom .card-default p {
  margin-top: 0.7rem;
}
main .modal-body-custom .content .container-custom {
  display: block;
  position: relative;
  padding-left: 2rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}
main .modal-body-custom .container-custom:hover {
  color: #3cb4ac;
}
main .modal-body-custom .container-custom input {
  position: absolute;
  opacity: 0;
}
main .modal-body-custom .no-reward .container-custom .checkmark, main .modal-body-custom .card-default .container-custom .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
}
main .modal-body-custom .container-custom:hover .checkmark {
  border: 1px solid #3cb4ac;
}
main .modal-body-custom .content .container-custom .checkmark:hover {
  border: 1px solid #3cb4ac;
}
main .modal-body-custom .checkmark:hover {
  border-color: #3cb4ac;
}
main .modal-body-custom .container-custom .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
main .modal-body-custom .checkmark:after {
  top: 9px;
  right: 3px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  border-radius: 50%;
}
main .modal-body-custom .container-custom > input:checked ~ .checkmark:after {
  background-color: #3cb4ac;
  display: block;
}
main .modal-body-custom .content .no-reward {
  width: 100%;
}
main .modal-body-custom .card-default {
  padding: 1rem;
}
main .modal-body-custom .card-default .splitt > span {
  margin-left: 2rem;
  color: #3cb4ac;
}
main .modal-body-custom .black-wrapper .pledge-entry, main .modal-body-custom .bamboo-wrapper .pledge-entry {
  padding: 1.5rem;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dee2e6;
  margin-top: -0.2rem;
}
main .modal-body-custom .black-wrapper .pledge-entry input, main .modal-body-custom .bamboo-wrapper .pledge-entry input {
  width: 4.5rem;
  height: 2.5rem;
  border: 1px solid gray;
  outline: none;
  border-radius: 10rem;
  font-weight: bold;
  padding: 0 0.9rem;
}
main .modal-body-custom .black-wrapper .pledge-entry button, main .modal-body-custom .bamboo-wrapper button {
  background-color: #3cb4ac;
  padding: 0.5rem 0.9rem;
  outline: none;
  border: none;
  border-radius: 10rem;
  color: #fff;
}
main .modal-body-custom .mahoghany-wrapper {
  opacity: 0.5;
  cursor: not-allowed;
}
main .modal-body-custom .content p {
  font-size: 0.9rem;
}
main .modal-body-custom .content label, main .modal-body-custom .content .splitt > span strong {
  font-size: 0.95rem;
}
main .modal-body-custom .container-custom span {
  color: #147b74;
  padding-left: 0.6rem;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 769px) {
  .image-div nav {
    padding: 0 3rem;
  }
  .image-div nav .bars {
    display: block;
  }
  .image-div nav .link-pages {
    display: none;
  }

  .stat-sec {
    border-right: none !important;
  }
}
@media screen and (max-width: 450px) {
  .image-div nav {
    padding: 0 1rem;
  }

  main .body-custom .btn-wrapper {
    position: relative;
  }

  main .body-custom .btn-wrapper .btn2 {
    display: none;
  }

  main .body-custom > section {
    margin: 0 -1rem;
  }

  section .btn-wrapper {
    margin-right: 4rem;
  }

  section .btn-wrapper .svg1 {
    position: absolute;
  }

  main .body-custom1 {
    padding-left: 1rem;
  }
  main .body-custom1 .bar {
    margin: 0 0.7rem !important;
  }
  main .body-custom1 .stats {
    font-size: 0.9rem;
    text-align: center;
  }
  main .body-custom1 .stats .stat-sec {
    border-right: none !important;
  }
  main .body-custom1 .stats section {
    padding-left: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
