* {
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.splitt {
  display: flex;
  flex-direction: column;
}

.card-border-green {
  border: 2px solid #3cb4ac;
  border-radius: 5px;
}

.card-border-grey {
  border: 2px solid #dee2e6;
  border-radius: 5px;
}

body {
  background-color: #f1f1f1;
}

.image-div {
  background-image: url(images/image-hero-mobile.jpg);
  max-width: 100%;
  height: 25rem;
  padding: 0rem;
}
.image-div .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 4.2rem 3rem;
}
.image-div .nav-wrapper {
  width: 100%;
  position: absolute;
  display: none;
  top: 100px;
  left: 0rem;
  padding: 0 1rem;
  z-index: 100;
}
.image-div nav {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.2rem 0rem;
  width: 100%;
  margin: 0 auto;
}
.image-div nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.image-div nav li {
  padding: 1em;
}
.image-div nav li:nth-child(2) {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.image-div nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}
.image-div .nav-toggle {
  display: none;
}
.image-div .nav-toggle:checked ~ .nav-wrapper {
  display: block;
}

main {
  width: 100%;
  /* The Close Button */
}
main .card-custom {
  max-width: 700px;
  margin: -5rem auto 0 auto;
  border-radius: 0.5rem;
}
main .card-custom .svg {
  margin: -1.5rem auto 0 auto;
}
main .card-custom .body-custom p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
main .card-custom .body-custom p:nth-child(2) {
  font-size: 0.95rem;
  margin-top: -0.5rem;
}
main .card-custom .body-custom section {
  position: relative;
}
main .card-custom .body-custom section .btn1 {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 11rem;
  height: 3.6rem;
  color: #fff;
  background-color: #3cb4ac;
  font-size: 0.85rem;
}
main .card-custom .body-custom section .btn1:hover {
  background-color: #147b74;
}
main .card-custom .body-custom section .btn-wrapper {
  position: relative;
}
main .card-custom .body-custom section .btn-wrapper .btn2 {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 11rem;
  height: 3.6rem;
  color: #000;
  background-color: #f1f1f1;
  font-weight: bold;
  padding: 0 1.5rem 0 4.5rem;
}
main .card-custom .body-custom section .btn-wrapper .btn2:hover {
  background-color: none;
}
main .card-custom .body-custom .svg1 {
  position: absolute;
  left: 0;
}
main .card-custom1, main .card-custom2 {
  max-width: 700px;
  border-radius: 0.5rem;
  margin: 0 auto;
}
main .card-custom1 .body-custom1 .stats section, main .card-custom2 .body-custom1 .stats section {
  border-right: 2px solid #f2f2f2;
  padding: 0 0 0 2rem;
}
main .card-custom1 .body-custom1 .stats .last-section, main .card-custom2 .body-custom1 .stats .last-section {
  border: none;
}
main .card-custom1 .body-custom1 .bar, main .card-custom2 .body-custom1 .bar {
  border-radius: 7px;
}
main .card-custom1 .body-custom1 .bar .bg, main .card-custom2 .body-custom1 .bar .bg {
  background-color: #3cb4ac;
  border-radius: 7px;
}
main .card-custom3 h4 {
  font-weight: bold;
}
main .card-custom3 .bamboo {
  width: 13rem;
}
main .card-custom3 .pledge {
  color: #3cb4ac;
}
main .card-custom3 h1 {
  width: 12rem;
}
main .card-custom3 button {
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 10rem;
  height: 3.2rem;
  color: #fff;
  background-color: #3cb4ac;
}
main .card-custom3 button:hover {
  background-color: #147b74;
}
main .modal-custom {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 2rem 1rem 0 1rem;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
main .modal-custom .modal-body-custom {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 0.35rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
main .modal-custom .modal-body-custom * {
  font-size: 0.92rem;
}
main .modal-custom .modal-body-custom .heading {
  display: flex;
  justify-content: space-between;
}
main .modal-custom .modal-body-custom .close {
  color: darkgray;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: -0.1rem;
  align-self: flex-start;
}
main .modal-custom .modal-body-custom .close:hover,
main .modal-custom .modal-body-custom .close:focus {
  color: #147b74;
  text-decoration: none;
  cursor: pointer;
}
main .modal-custom .modal-body-custom .heading > p {
  font-size: 1.1rem;
  font-weight: bold;
}
main .modal-custom .modal-body-custom .content .no-reward {
  padding: 1rem;
  border-radius: 5px;
}
main .modal-custom .modal-body-custom .no-reward p, main .modal-custom .modal-body-custom .card-default p {
  margin-top: 0.7rem;
}
main .modal-custom .modal-body-custom .content .container-custom {
  display: block;
  position: relative;
  padding-left: 2rem;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}
main .modal-custom .modal-body-custom .container-custom:hover {
  color: #3cb4ac;
}
main .modal-custom .modal-body-custom .container-custom input {
  position: absolute;
  opacity: 0;
}
main .modal-custom .modal-body-custom .no-reward .container-custom .checkmark, main .modal-custom .modal-body-custom .card-default .container-custom .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
}
main .modal-custom .modal-body-custom .container-custom:hover .checkmark {
  border: 1px solid #3cb4ac;
}
main .modal-custom .modal-body-custom .content .container-custom .checkmark:hover {
  border: 1px solid #3cb4ac;
}
main .modal-custom .modal-body-custom .checkmark:hover {
  border-color: #3cb4ac;
}
main .modal-custom .modal-body-custom .container-custom .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
main .modal-custom .modal-body-custom .checkmark:after {
  top: 9px;
  right: 3px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  border-radius: 50%;
}
main .modal-custom .modal-body-custom .container-custom > input:checked ~ .checkmark:after {
  background-color: #3cb4ac;
  display: block;
}
main .modal-custom .modal-body-custom .content .no-reward {
  width: 100%;
}
main .modal-custom .modal-body-custom .card-default {
  padding: 1rem;
}
main .modal-custom .modal-body-custom .card-default .splitt > span {
  margin-left: 2rem;
  color: #3cb4ac;
}
main .modal-custom .modal-body-custom .black-wrapper .pledge-entry, main .modal-custom .modal-body-custom .bamboo-wrapper .pledge-entry {
  padding: 1.5rem;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #dee2e6;
  margin-top: -0.2rem;
}
main .modal-custom .modal-body-custom .black-wrapper .pledge-entry input, main .modal-custom .modal-body-custom .bamboo-wrapper .pledge-entry input {
  width: 4.5rem;
  height: 2.5rem;
  border: 1px solid gray;
  outline: none;
  border-radius: 10rem;
  font-weight: bold;
  padding: 0 0.9rem;
}
main .modal-custom .modal-body-custom .black-wrapper .pledge-entry button, main .modal-custom .modal-body-custom .bamboo-wrapper button {
  background-color: #3cb4ac;
  padding: 0.5rem 0.9rem;
  outline: none;
  border: none;
  border-radius: 10rem;
  color: #fff;
}
main .modal-custom .modal-body-custom .mahoghany-wrapper {
  opacity: 0.5;
  cursor: not-allowed;
}
main .modal-custom .modal-body-custom .container-custom span {
  color: #147b74;
  padding-left: 0.6rem;
}
main .modal-custom .modal-completed {
  background-color: #fff;
  max-width: 450px;
  margin: 6rem auto 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 0.4rem;
}
main .modal-custom .modal-completed .thanks {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
main .modal-custom .modal-completed .thanks ~ p {
  font-size: 0.92rem;
}
main .modal-custom .modal-completed button {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 6rem;
  height: 3rem;
  color: #fff;
  background-color: #3cb4ac;
}
main .modal-custom .modal-completed button:hover {
  background-color: #147b74;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (min-width: 750px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .image-div {
    background-image: url(images/image-hero-desktop.jpg);
  }

  .nav-toggle-label {
    display: none;
  }

  .image-div .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem 6rem;
  }
  .image-div .nav-container .logo-wrapper {
    align-self: center;
  }
  .image-div .nav-container .nav-wrapper {
    all: unset;
  }
  .image-div .nav-container .nav-wrapper nav {
    background-color: transparent;
  }
  .image-div .nav-container .nav-wrapper nav ul {
    display: flex;
  }
  .image-div .nav-container .nav-wrapper nav li:nth-child(2) {
    border: none;
  }
  .image-div .nav-container .nav-wrapper nav a {
    opacity: 1;
    color: #fff;
  }

  .modal-body-custom {
    max-width: 700px;
  }
  .modal-body-custom .bamboo-wrapper .splitt, .modal-body-custom .black-wrapper .splitt, .modal-body-custom .mahoghany-wrapper .splitt {
    flex-direction: row;
  }
  .modal-body-custom .content .card-default .splitt > span {
    margin-left: 1rem;
  }
  .modal-body-custom .content .card-default {
    position: relative;
  }
  .modal-body-custom .content .card-default > .left {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .modal-body-custom .content .card-default .pledge-entry {
    padding: 1rem 0;
  }
  .modal-body-custom .content .pledge-entry .split {
    display: flex;
    justify-content: space-between;
    padding: -3rem;
  }
}
@media screen and (max-width: 450px) {
  main .body-custom .btn-wrapper {
    position: relative;
  }

  main .body-custom .btn-wrapper .btn2 {
    display: none;
  }

  main .body-custom > section {
    margin: 0 -1rem;
  }

  section .btn-wrapper {
    margin-right: 4rem;
  }

  section .btn-wrapper .svg1 {
    position: absolute;
  }

  main .body-custom1 {
    padding-left: 1rem;
  }
  main .body-custom1 .bar {
    margin: 0 0.7rem !important;
  }
  main .body-custom1 .stats {
    font-size: 0.9rem;
    text-align: center;
  }
  main .body-custom1 .stats .stat-sec {
    border-right: none !important;
  }
  main .body-custom1 .stats section {
    padding-left: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
